/*
#yo
{
	border: red solid 2px;
}

#trabajo
{
	border: red solid 2px;
}

#contacto
{
	border: red solid 2px;
}

*/
.u-title
{
	color: red;
	text-decoration: underline;
}

.Header
{

}

.Header-imageContainer
{

}

.Header-image
{

}

.Header-link
{

}

.Header-name
{

}

.MainMenu
{

}

.MainMenu-list
{

}

.MainMenu-item
{

}

.MainMenu-itemLink
{

}

.Profile
{

}

.Profile-title
{

}

.Profile-description
{

}

.Profile-link
{

}

.Work
{

}

.Work-title
{

}

.Work-item
{

}

.Footer
{

}

.Footer-title
{

}

.Footer-description
{

}

.Footer-form
{

}