<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta description="Portafolio ArthasDesign"/ >
		<title>Portafolio</title>
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
	</head>
	<body>
		<header id="yo" class="Header">
			<nav class="MainMenu">
				<ul class="MainMenu-list">
					<li class="MainMenu-item">
						<a href="#yo" class="MainMenu-itemLink">Yo</a>
					</li>
					<li class="MainMenu-item">
						<a href="#perfil" class="MainMenu-itemLink">Perfil</a>
					</li>
					<li class="MainMenu-item">
						<a href="#trabajo" class="MainMenu-itemLink">Trabajo</a>
					</li>
					<li class="MainMenu-item">
						<a href="#contacto" class="MainMenu-itemLink">Contacto</a>
					</li>
				</ul>
			</nav>
			<figure class="Header-imageContainer">
				<img src="avatar.jpg" alt="Imagen Personal" class="Header-image"/>
				<figcaption class="Header-imageDescription">
					<a  class="Header-link" href="http://www.twitter.com/AFelipe90" target="_black">Twitter</a>
				</figcaption>
				<p class="Header-name">Andres Felipe Rojas</p>
			</figure>
		</header>
		<section id="pefil" class="Profile">
			<h2 class="Profile-title  u-title">Perfil</h2>
			<p  class="Profile-description">
				Hola este es mi portafolio web
			</p>
			<a class="Profile-link" href="http://www.twitter.com/AFelipe90">@AFelipe90</a>
			<a  class="Profile-link" href="https://www.facebook.com/andres.f.hernandez">Facebook</a>
			<a  class="Profile-link" href="https://github.com/felipe90">Github</a>
		</section>
		<section id="trabajo" class="Work">
			<h2 class="Work-title  u-title">Trabajo</h2>
			<article class="Work-item">
				<figure><img src="mejorandola.jpg" alt="descripcion"></figure>
				<figcaption>Este es el sitio web de mejorandola</figcaption>
			</article>
			<article class="Work-item">
				<figure><img src="mejorandola.jpg" alt="descripcion"></figure>
				<figcaption>Este es el sitio web de mejorandola</figcaption>
			</article>
			<article class="Work-item">
				<figure><img src="mejorandola.jpg" alt="descripcion"></figure>
				<figcaption>Este es el sitio web de mejorandola</figcaption>
			</article>
			<article class="Work-item">
				<figure><img src="mejorandola.jpg" alt="descripcion"></figure>
				<figcaption>Este es el sitio web de mejorandola</figcaption>
			</article>
			<article class="Work-item">
				<figure><img src="mejorandola.jpg" alt="descripcion"></figure>
				<figcaption>Este es el sitio web de mejorandola</figcaption>
			</article>
		</section>
		<footer id="contacto" class="Footer">
			<h3  class="Footer-title">Contacto</h3>
			<p class="Footer-description">Formulario de contacto para trabajo</p>
			<form action=""  class="Footer-form">
				<input type="text" placeholder="Nombre"/>
				<input type="email" placeholder="Email"/>
				<textarea name="" id="" placeholder="Motivo" cols="30" rows="10"></textarea>
				<button type="Submit">Contartar</button>
			</form>
		</footer>	
	</body>
</html>


